---
import FastMarquee from "../components/FastMarquee";
import Slogans from "../components/Slogans.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ShoeNeo - Magnificent Shoe Store">
  <main class="">
    <h1 class="text-4xl font-black">hello world</h1>

    <section>
      <Slogans />
    </section>
  </main>
</Layout>
