---

---


<div class="mt-10 container mx-auto px-4  md:px-10 bg-white ">
    <div class="bg-orange-100 border-2 border-black rounded-xl py-11 flex flex-col relative top-0 justify-center items-center">
        <h2 class="text-black uppercase text-2xl md:text-3xl lg:text-5xl text-center">The ALL NEW</h2>
        <h3 class="mt-3 text-center text-3xl md:text-5xl lg:text-8xl text-orange-500 uppercase [text-shadow:_2px_2px_0_rgb(0_0_0_/_100%)] lg:[text-shadow:_4px_4px_0_rgb(0_0_0_/_100%)]">NIKE Air Force 1 <br> West Indies</h3>
        <div class="w-full flex justify-center items-center mt-40 lg:mt-0 relative z-[2]  -left-5 md:-left-10 top-12">
            <img src="/hero-img.png" class="w-3/4 md:w-1/2" alt="">
        </div>
        <div class="hidden lg:block absolute top-1/2 -left-10">
            <img src="/wave-1-hero.svg" class="w-full" alt="">
        </div>
        <div class="lg:block hidden absolute top-[59%] left-96">
            <img src="/hero-arrow.svg" class="w-full" alt="">
        </div>
        <div class="absolute top-[38%] md:top-[35%] lg:top-[56%] z-[3] lg:left-48 flex flex-col gap-2">
            <p class="text-[#C5C5C5] font-semibold text-lg lg:text-2xl relative ">$199.00 <span class="absolute top-3 left-0 w-1/2 border-2 border-[#C5C5C5]"></span> </p>
            <p class="text-yellow-500 font-semibold text-lg lg:text-2xl">$129.99 Only</p>
            <div class="flex flex-col justify-center items-center lg:justify-start lg:items-start lg:flex-row gap-2">
                <button class="bg-yellow-500 px-2 py-1 lg:px-3 lg:py-2 text-white rounded-lg">Add to bag +</button>
                <button class="text-black">View More</button>
            </div>
        </div>
        <div class="lg:block hidden absolute top-2/3 -right-10">
            <img src="/wave-2-hero.svg" class="w-full" alt="">
        </div>
        <div class="md:block hidden absolute bottom-10 right-4 lg:right-10">
            <img src="/hero-star.svg" class="w-full" alt="">
        </div>
        <div class="absolute bottom-0  flex justify-center items-center">
            <img src="/hero-eclipse.svg" class="w-10/12" alt="">
        </div>
    </div>
    

</div>