---
import FastMarquee from "./FastMarquee";
---

<div class="relative top-0">
  <div class="rotate-[2deg] relative top-0 z-[2]">
    <FastMarquee
      direction={"left"}
      className={"bg-green-300"}
      client:only="react"
      data={[
        "just do it",
        "BE ORIGINAL",
        "THE ONLY WAY IS THROUGH",
        "Fly Above",
        "OFF THE WALL?",
      ]}
      fillIconColor={"black"}
    />
  </div>
  <div class="-rotate-[5deg] relative -top-24">
    <FastMarquee
      direction={"right"}
      fillIconColor={"#E5F33C"}
      className={"bg-black text-green-300"}
      client:only="react"
      data={[
        "just do it",
        "BE ORIGINAL",
        "THE ONLY WAY IS THROUGH",
        "Fly Above",
        "OFF THE WALL?",
      ]}
    />
  </div>
</div>
